<h1>Sensei</h1>

  <div class="relative_width">
    <div class="talk_text">
      <section>
        <div class="container">
          <p><strong>Nombre: </strong><%= @sensei.name %></p>
          <p><strong>Primer apellido: </strong><%= @sensei.last_name %></p>
          <p><strong>Segundo apellido: </strong><%= @sensei.surname %></p>
          <p><strong>Nacionalidad: </strong><%= @sensei.nationality %></p>
          <p><strong>Email: </strong><%= @sensei.email %></p>
          <p><strong>Número de tel: </strong><%= @sensei.phone_number %></p>
        </div>
      </section>
    </div>
  </div>
