<h1>Mi Perfil</h1>
<section id="events" class="sweet_brown">
<article class="event">

  <div class="relative_width">
  <div class="field ">
  <% if @judoka.photo.attached? %>
    <%= image_tag @judoka.photo, size: '200x200' , class: "rounded-circle", alt: "Cinque Terre"%>
  <% end %>
  <%= link_to 'Editar', new_judoka_registration_path(@judoka) %> 
  </div>
</article>
<article class="event">
    <div class="talk_text">
      <section>
        <div class="container">
          <p><strong>Nombre: </strong><%= @judoka.name %></p>
          <p><strong>Primer apellido: </strong><%= @judoka.last_name %></p>
          <p><strong>Segundo apellido: </strong><%= @judoka.surname %></p>
          <p><strong>Fecha de nacimiento: </strong><%= @judoka.date_of_birth %></p>
          <p><strong>Tipo de identificación: </strong><%= @judoka.id_type %></p>
          <p><strong>Nacionalidad: </strong><%= @judoka.nationality %></p>
          <p><strong>Número de identificación: </strong><%= @judoka.id_card %></p>
          <p><strong>Dirección: </strong><%= @judoka.address %></p>
          <p><strong>Número de tel: </strong><%= @judoka.phone_number %></p>
          <p><strong>Encargado legal: </strong><%= @judoka.parental_or_responsibility %></p>
          <p><strong>Fecha de inicio: </strong><%= @judoka.start_date %></p>
        </div>
      </section>
    </div>
</article>
  </div>
</section>


