<section>
<%= render 'navbar' %>
</section>

<h1 class="text-center p-5">Mi Perfil</h1>
  <div class="container py-5">
  <div class="row">
    <div class="item col-sm-5 p-5 center-block">
    <% if @judoka.photo.attached? %>
      <%= image_tag @judoka.photo, size: '200x200' , class: "rounded-circle", alt: "Cinque Terre"%>
    <% end %>
    </div>
    <div class="azul col-sm-5">
          <p><strong>Nombre: </strong><%= @judoka.name %></p>
          <p><strong>Primer apellido: </strong><%= @judoka.last_name %></p>
          <p><strong>Segundo apellido: </strong><%= @judoka.surname %></p>
          <p><strong>Fecha de nacimiento: </strong><%= @judoka.date_of_birth %></p>
          <p><strong>Tipo de identificación: </strong><%= @judoka.id_type %></p>
          <p><strong>Nacionalidad: </strong><%= @judoka.nationality %></p>
          <p><strong>Número de identificación: </strong><%= @judoka.id_card %></p>
          <p><strong>Dirección: </strong><%= @judoka.address %></p>
          <p><strong>Número de tel: </strong><%= @judoka.phone_number %></p>
          <p><strong>Encargado legal: </strong><%= @judoka.parental_or_responsibility %></p>
          <p><strong>Fecha de inicio: </strong><%= @judoka.start_date %></p>
         <button type="button" class="btn btn-danger "> <%= link_to 'Editar', edit_judoka_registration_path %> </button>
      </div>
    </div>

