<p id="notice"><%= notice %></p>

<h1>Dojos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Dirección</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dojos.each do |dojo| %>
      <tr>
        <td><%= dojo.name %></td>
        <td><%= dojo.email %></td>
        <td><%= dojo.address %></td>
        <td><%= dojo.active %></td>
        <td><%= link_to 'Mostrar', dojo %></td>
        <td><%= link_to 'Editar', edit_dojo_path(dojo) %></td>
        <td><%= link_to 'Destruir', dojo, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Dojo', new_dojo_path %>
