<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @dojo.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dojo.email %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @dojo.address %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @dojo.active %>
</p>

<%= link_to 'Editar', edit_dojo_path(@dojo) %> |
<%= link_to 'Atrás', dojos_path %>
