<p id="notice"><%= notice %></p>

<p>
  <strong>Dojo:</strong>
  <%= @course.dojo_id %>
</p>

<p>
  <strong>Sensei:</strong>
  <%= @course.sensei_id %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
