<p id="notice"><%= notice %></p>

<p>
  <strong>Dojo:</strong>
  <%= @course.dojo_id %>
</p>

<p>
  <strong>Sensei:</strong>
  <% @course.senseis.each do |sensei| %>

  <%= sensei.name %>

  <% end %>
</p>

<%= link_to 'Editar', edit_course_path(@course), class:'btn btn-danger'  %> |
<%= link_to 'Atrás', courses_path, class:'btn btn-danger'  %>
