<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "judokas/shared/error_messages", resource: resource %>

    <div class="field">
    <%= f.label :dojo_id %><br />
    <%= f.select :dojo_id, options_from_collection_for_select(@dojos, :id, :name), prompt: "Select a dojo:" %>
  </div>

     <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

   <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname, autofocus: true, autocomplete: "surname" %>
  </div>

     <div class="field">
   <%= f.label :date_of_birth %><br />
   <%= f.date_field :date_of_birth, autofocus: true, autocomplete: "date_of_birth" %>
  </div> 

  <div class="field">
   <%= f.label :id_type %><br />
   <%= f.select :id_type, options_for_select(@types), prompt: "Select a id_type:"%>
  </div> 
  
  <div class="field">
    <%= f.label :nationality %><br />
    <%= f.text_field :nationality, autofocus: true, autocomplete: "nationality" %>
  </div>

  <div class="field">
    <%= f.label :id_card %><br />
    <%= f.text_field :id_card, autofocus: true, autocomplete: "id_card" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
  </div> 

  <div class="field">
    <%= f.label :parental_or_responsibility %><br />
    <%= f.text_field :parental_or_responsibility, autofocus: true, autocomplete: "parental_or_responsibility" %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_field :start_date, autofocus: true, autocomplete: "start_date" %>
  </div>
  
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.text_field :photo, autofocus: true, autocomplete: "photo" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "judokas/shared/links" %>
