<h1>Judoka Test</h1>

<p id="notice"><%= notice %></p>



<section>
  <div class="container">
    <p><strong>Fecha de la prueba: </strong><%= @judo_test.date_of_test %></p>
    <p><strong>Descripción de la prueba: </strong><%= @judo_test.description %></p>
    <p><strong>Peso: </strong><%= @judo_test.weight %></p>
    <p><strong>Altura: </strong><%= @judo_test.height %></p>
    <p><strong>Course Naveta: </strong><%= @judo_test.course_naveta %></p>
    <p><strong>Velocidad: </strong><%= @judo_test.speed %></p>
    <p><strong>Flexibilidad: </strong><%= @judo_test.flexibility %></p>
    <p><strong>Push up: </strong><%= @judo_test.push_up %></p>
    <p><strong>Abdominales: </strong><%= @judo_test.ABS %></p>
    <p><strong>Salto vertical: </strong><%= @judo_test.vertical_jump %></p>
    <p><strong>Sensei a cargo de la prueba: </strong><%= @judo_test.sensei.name %></p>
    <p><strong>Judoka: </strong><%= @judo_test.judoka.name %></p>
  </div>
</section>
