  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <%= link_to root_path, class: 'navbar-brand' do %>
     <%= image_tag asset_path('logo.png'), size: "80x80"%>
  <% end %> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Dojos', dojos_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Cursos', courses_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Judokas', new_judoka_session_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup><a class="nav-link disabled " href="#" tabindex="-1" aria-disabled="true">
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
      <a class="dropdown-item" href="#">
      <% if judoka_signed_in? %>
      <%= link_to 'Desconectarse', destroy_judoka_session_path, method: :delete%>
      <% else %>
      <%= link_to '(Iniciar Sesion con Judoka)', new_judoka_session_path %>
      <%= link_to '(Iniciar Sesion con Sensei)', new_sensei_session_path %>
        <%end %>
      </div>
        </li>
      <%if current_judoka %>
      <li class="nav-item">
      <a class="nav-link disabled text-light" href="#" tabindex="-1" aria-disabled="true"><%= current_judoka.email %></a>
      </li>
      <%end%>
    </ul>
  </div>
</nav>