<section>
<%= render 'navbar' %>
</section>
<div>
<br>
<br>
<br>
</div>
<div class="container mt-5">
<section>
<div id="contenido">
  <div class="row align-self-center">
      <div class="item col-sm">
        <%= link_to root_path do %>
      <%= image_tag asset_path('perfil.png'), size: "150x150"%>
      <% end %> 
      <div class='p-4'>
      <button type="button" class="btn btn-secondary p-1 my-2 ">Mi Perfil</button>
      </div>
      </div>
      <div class="item col-sm">
        <%= link_to root_path do %>
      <%= image_tag asset_path('dojo.png'), size: "150x150"%>
      <% end %> 
      <div class="p-4">
      <button type="button" class="btn btn-secondary p-1 my-2 mx-3">Mi Dojo</button>
      </div>
      </div>
      <div class="item col-sm">
        <%= link_to root_path do %>
      <%= image_tag asset_path('sensei.png'), size: "150x150"%>
      <% end %> 
      <div class="p-4">
      <button type="button" class="btn btn-secondary p-1 my-2">Mis Senseis </button>
      </div>
      </div>
      <div class="item col-sm">
        <%= link_to root_path do %>
      <%= image_tag asset_path('clases.png'), size: "150x150"%>
      <% end %> 
      <div class="p-4">
      <button type="button" class="btn btn-secondary p-1 my-2 mx-3">Mi Clase</button>
      </div>
      </div>
  </div>
</div>
</div>
</div>
</section>
</div>