<section>
<%= render 'navbar' %>
</section>
<div>
<br>
<br>
<br>
</div>
<div class="container mt-5">
<section>
<div id="content">
  <div class="row align-self-center">
      <div class="item col-sm">
      <a href="<%= judokas_show_path(current_judoka) %>"><img src="<%= asset_path('perfil.png') %>" style="width:150px;height:150px;" alt=""></a>
      <div class='p-4'>
      <%= link_to "Mi Perfil", judokas_show_path(current_judoka), class: "btn btn-secondary p-1 my-2 mx-3"  %>
      </div>
      </div>
      <div class="item col-sm">
      <a href="<%= dojo_path(current_judoka.dojo_id) %>"><img src="<%= asset_path('dojo.png') %>" style="width:150px;height:150px;" alt=""></a>
      <div class="p-4">
      <%= link_to "Mi Dojo", dojo_path(current_judoka.dojo_id), class: "btn btn-secondary p-1 my-2 mx-3"  %>
      </div>
      </div>
      <div class="item col-sm">
      <a href="<%= mis_senseis_path %>"><img src="<%= asset_path('sensei.png') %>" style="width:150px;height:150px;" alt=""></a>
      <div class="p-4">
      <%= link_to "Mis Senseis", mis_senseis_path, class: "btn btn-secondary p-1 my-2 mx-3"  %>
      </div>
      </div>
  </div>
</div>
</div>
</div>
</section>
</div>