<div class="row">
    <div class="item col-sm">
     <%= link_to judokas_show_path, class: 'navbar-brand' do %>
     <%= image_tag asset_path('perfil.png'), size: "80x80"%>
    <% end %> 
    </div>
    <div class="item col-sm">
      <%= link_to dojo_path, class: 'navbar-brand' do %>
     <%= image_tag asset_path('dojo.png'), size: "80x80"%>
    <% end %> 
    </div>
    <div class="item col-sm">
      <%= link_to root_path, class: 'navbar-brand' do %>
     <%= image_tag asset_path('sensei.png'), size: "80x80"%>
    <% end %> 
    </div>
    <div class="item col-sm">
      <%= link_to root_path, class: 'navbar-brand' do %>
     <%= image_tag asset_path('clases.png'), size: "80x80"%>
    <% end %> 
    </div>
</div>